<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.njk' %}
</head>

<body>
    <header class="page-header">

    </header>
    <table>
        <tr>
            <td>
                <navbar>
                    <h1> {{ site.title }} </h1>
                    <br/>
                    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
                </navbar>
            </td>
            <td>

                <main>
                    {{content | safe }}
                </main>
                <backlinks>
                    {{ backlinks }}
                </backlinks>
            </td>
            <td>
                {{content.toc | safe }}
            </td>
        </tr>
    </table>

    <footer class="page-footer">
        <small>Copyright {{site.author}}</small>
    </footer>
</body>

</html>